.wrapper {
  --seacrh-border-radius: 92px;
  --icon-color: rgba(124, 124, 124, 0.9);
  --search-btn-width: 52px;
  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgb(0 0 0/12%);
  display: flex;
  justify-content: center;
}
.inner {
  height: 100%;
  width: var(--default-layout-width);
  display: flex;
  padding: 0 var(--default-layout-horizontal-spacer);
  align-items: center;
  justify-content: space-between;
}

.search,
.search-result {
  width: 361px;
}

.search {
  position: relative;
  width: 361px;
  height: 46px;
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: var(--seacrh-border-radius);
  display: flex;
  border: 1.5px solid transparent;
  input {
    flex: 1;
    color: var(--black);
    font-size: 1.6rem;
    padding: 12px 16px;
    background-color: transparent;
    caret-color: var(--primary);
  }
  input:not(:placeholder-shown) ~ .search-btn {
    color: var(--black);
  }
  &:hover {
    border: 1.5px solid rgba(22, 24, 35, 0.2);
    .search-btn {
      background-color: rgba(22, 24, 35, 0.15);
    }
  }
  &:focus-within {
    border: 1.5px solid rgba(22, 24, 35, 0.2);
    .clear {
      display: block;
    }
    .loading {
      display: block;
    }
  }
}

.search-title {
  font-size: 1.4rem;
  font-weight: 600;
  color: rgba(22, 24, 35, 0.5);
  padding: 5px 12px;
}

.clear,
.loading {
  position: absolute;
  display: none;
  background: transparent;
  right: var(--search-btn-width);
  top: 50%;
  transform: translateY(-50%);
  color: var(--icon-color);
  width: 40px;
}

.span-spliter {
  position: relative;
  width: 1px;
  height: 28px;
  margin: 9px 0;
  background: var(--black);
}
.search-btn {
  width: 52px;
  height: 100%;
  border-top-right-radius: var(--seacrh-border-radius);
  border-bottom-right-radius: var(--seacrh-border-radius);
  color: var(--icon-color);

  &:hover {
    cursor: pointer;
  }
}

//Action
.actions {
  display: flex;
  align-items: center;
}

.more-btn {
  font-size: 2rem;
  margin-left: 20px;
  background-color: transparent;
  padding: 8px;
  cursor: pointer;
}

.action-btn {
  background-color: transparent;
  font-size: 2.2rem;
  color: #161823;
  padding: 4px 12px;
}

.user-avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 12px;
  cursor: pointer;
}
